<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="referrer" content="no-referrer">

    <title>{% block title %}RentalManager{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Tema RM -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/theme.css') }}">

    <!-- CSS general -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">

    <!-- RMToast -->
    <link rel="stylesheet" href="{{ url_for('static', path='components/rm_toast/rm_toast.css') }}">

    <!-- RMSwitch -->
    <link rel="stylesheet" href="{{ url_for('static', path='components/rm_switch/rm_switch.css') }}">

</head>


<body class="{% block body_class %}{% endblock %}">

    {% include "components/header.html" %}

    {% include "components/rm_toast.html" %}

    <div class="app-shell d-flex">

        {% include "components/sidebar.html" %}

        <main class="flex-grow-1 p-4 {% block main_class %}{% endblock %}">

            {% block content %}
            {% endblock %}

        </main>

    </div>

    {% include "components/footer.html" %}

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Componentes RM -->

    <!-- RMToast -->
    <script src="{{ url_for('static', path='components/rm_toast/rm_toast.js') }}"></script>

    <!-- RMNotification -->
    <script src="{{ url_for('static', path='services/rm_notification/rm_notification.js') }}"></script>

    <!-- RMPageNotification -->
    <script src="{{ url_for('static', path='services/rm_page_notification/rm_page_notification.js') }}"></script>

    <!-- RMValidator -->
    <script src="{{ url_for('static', path='services/rm_validator/rm_validator.js') }}"></script>

    <!-- RMConfirm -->
    <script src="{{ url_for('static', path='services/rm_confirm/rm_confirm.js') }}"></script>

    <!-- RMSwitch -->
    <script src="{{ url_for('static', path='components/rm_switch/rm_switch.js') }}"></script>

    {% block scripts %}
    {% endblock %}

</body>

</html>
